################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/ClientApp/obj/Debug
/ClientApp/ClientApp.csproj.user
/MvcAngular6/obj/Debug
/MvcAngular6/bin
